.side-bar {
  margin: 15 px;
  border: 5 px;
  padding: 5 px;
  background-color: grey;
  color: #a9a9a9
}
/*
img {
  float: center;
  height: 300px;
  width: auto;
  padding: 20px;
}
*/
.hero-image {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg"); */
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}